* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo e Layout Geral */
body {
  background-image: url('./images/image.jpg');
  background-color: rgb(247, 247, 234);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden; /* Evita rolagem causada pelo desfoque */
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);

}

.trybewarts-header-logo{
  width: 60px;
  padding: 10px;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
}

.trybewarts-login input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ccc;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s;
  width: 200px;
}

.trybewarts-login input:focus {
  border-color: rgb(50, 167, 145);
}

.trybewarts-login button {
  padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: -10px;
}

.trybewarts-login button:hover {
  background-color: #551a8b;
}

#trybewarts-header-title{
  text-align: center;
  align-items: center;
  margin-top: 15px;
  color:beige
}

.evaluation-form {
  position: relative;
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 15px; 
  background: rgba(255, 255, 255, 0.7); 
  color: rgb(58, 57, 57);
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#evaluation-form input,
#evaluation-form select {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  background: #ffffff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: box-shadow 0.3s, border-color 0.3s;
   background: rgba(255, 255, 255, 0.4); 

}

#evaluation-form input:focus,
#evaluation-form select:focus {
  border-color: #6a5acd; 
  box-shadow: 0 0 8px rgba(106, 90, 205, 0.5); 
}

#evaluation-form button {
  padding: 12px 20px;
  background-color: #6a5acd; 
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

#evaluation-form button:hover {
  background-color: #4a3c7c; 
  box-shadow: 0 0 8px rgba(106, 90, 205, 0.5); 
}

.logo-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin-top: 80px;
}

.form-flex{
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 10px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#fireworks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

/* Estilo para os campos Nome e Sobrenome */
.name-surname {
  display: flex;
  gap: 10px;
}

.name-surname input {
  flex: 1;
}

/* Estilo para os campos Email e Casa */
.email-house {
  display: flex;
  gap: 10px;
}

.email-house input {
  flex: 2;
}

.email-house select {
  flex: 1;
}

/* Estilo para os inputs do tipo radio e checkbox em linha */
.family-selection, .subject-selection, .rating {
  display: flex;
  flex-wrap: wrap; /* Permite quebra de linha se necessário */
  gap: 10px;
  margin-top: 10px;
}

.family-selection input[type="radio"], .subject-selection input[type="checkbox"], .rating input[type="radio"] {
  margin-right: 5px;
}

/* Estilo para labels */
.family-selection label, .subject-selection label, .rating label {
  margin-right: 10px;
}

/* Estilo para a textarea */
.textarea {
  margin-top: 10px;
}

textarea {
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.4); 
  color: rgb(58, 57, 57);
}

#house option {
  background: rgba(255, 255, 255, 0.4); 
  color: rgb(58, 57, 57); /* Texto branco */
}

#house {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.4); 
  color: rgb(71, 70, 70); /* Texto branco */
}

/* Estilo para o botão de enviar */
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

#counter-container {
  margin-bottom: 1px;
  text-align: right;
}

#counter {
  font-weight: bold;
}

.letter {
  display: none; /* Inicialmente escondido */
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.envelope {
  position: relative;
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  animation: openLetter 2s forwards;
}

.letter-content {
  opacity: 0;
  animation: writeLetter 4s forwards;
}

/* Animação para abrir a carta */
@keyframes openLetter {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Animação para o texto da carta */
@keyframes writeLetter {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.agreement-container {
  display: flex;
  align-items: center; /* Alinha verticalmente ao centro */
}
.agreement-container label {
  margin-right: 10px; /* Espaço entre o label e o input */
}


/* Estilos gerais para o card */
#form-data {
  display: none;
  padding: 20px;
  margin: 20px auto;
  width: 275px;
  background-color:transparent;
  height: 80%;
  border: none; /* Remove a borda */
  border-radius: 10px;
  font-family: 'Garamond', serif; /* Fonte que remete a um estilo mais clássico */
}


#form-data p {
  font-size: 18px;
  color: #1a0e02; /* Cor de texto marrom escuro para combinar com o fundo */
  margin: 10px 0;
}

#form-data h1 {
  font-size: 24px;
  color: #d4af37; /* Cor dourada para os títulos */
  border-bottom: 2px solid #8a6d3b; /* Linha dourada embaixo do título */
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}






.Gitnória {
  background-image: url('./images/Gitnória.webp');
  background-size: cover;
  background-position: center;
}

.Reactpuff {
  background-image: url('./images/Reactpuff.webp');
  background-size: cover;
  background-position: center;
}

.Corvinode {
  background-image: url('./images/Corvinode.webp');
  background-size: cover;
  background-position: center;
}

.Pytherina {
  background-image: url('./images/Pytherina.webp');
  background-size: cover;
  background-position: center;
}

#background {
  position: fixed; /* Fixa o fundo na tela */
  top: 0;
  left: 0;
  width: 100vw; /* Largura total da viewport */
  height: 100vh; /* Altura total da viewport */
  z-index: -1; /* Coloca o fundo atrás de outros conteúdos */
}


#back-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4CAF50; /* Cor de fundo verde */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#back-btn:hover {
  background-color: #45a049; /* Cor de fundo verde mais escuro ao passar o mouse */
}





/* From Uiverse.io by andrew-demchenk0 */ 
.card {
  margin-top: 80px;
  --main-color: #000;
  --submain-color: #78858F;
  --bg-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
}

.card__img {
  height: 122px;
  width: 100%;
}

#house-image{
width: 300px;
height: 130%;
border-radius: 20px 20px 0 0;
}

.card__img svg {
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.card__avatar {
  position: relative;
  width: 114px;
  height: 114px;
  background: rgb(1, 37, 7); /* Mantém o fundo transparente */
  clip-path: circle(104px at center);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
}

.card__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 50%; 
}

.card__avatar svg {
  width: 100px;
  height: 100px;
}

.card__title {
  margin-top: 10px;
  font-weight: 500;
  font-size: 15px;
  color: var(--main-color);
  text-align: center;
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}

.card__subtitles {
  margin-top: 1px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}
.card__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.card__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}

.card__info {
padding: 20px;
}


.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  font-size: 2rem;
  color: #fffcfc;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  transition: color 0.2s ease;
  margin: 0; 
  padding: 0 0rem; 
}

.rating input:checked ~ label {
  color: #f5c518; /* Cor das estrelas preenchidas */
}

.rating label:hover,
.rating label:hover ~ label {
  color: #f5c518; /* Cor das estrelas ao passar o mouse */
}

.rating input:checked ~ input:checked ~ label {
  color: #f5c518; /* Cor das estrelas à esquerda */
}


.card__socials {
  display: flex;
  justify-content: center; /* Centers the icons horizontally */
  align-items: center; /* Centers the icons vertically */
  gap: 20px; /* Adds space between the icons */
  margin: 20px 0; /* Adds some margin above and below the icons */
}

.social-icon {
  text-decoration: none; 
  color: #333; 
  font-size: 1rem; 
  transition: color 0.3s ease; 
}

.social-icon:hover {
  color: #0077b5; 
}



.house-corvinode svg rect {
  fill: url(#a-corvinode); /* Gradiente específico para Corvinode */
}
.house-gitnoria svg rect {
  fill: url(#a-gitnoria); /* Gradiente específico para Gitnória */
}
.house-pytherina svg rect {
  fill: url(#a-pytherina); /* Gradiente específico para Pytherina */
}
.house-reactpuff svg rect {
  fill: url(#a-reactpuff); /* Gradiente específico para Reactpuff */
}

/* Definições de gradientes específicos para cada casa */
.house-corvinode #a-corvinode {
  stop-color: #FF5722; /* Exemplo de cor */
}
.house-gitnoria #a-gitnoria {
  stop-color: #4CAF50; /* Exemplo de cor */
}
.house-pytherina #a-pytherina {
  stop-color: #2196F3; /* Exemplo de cor */
}
.house-reactpuff #a-reactpuff {
  stop-color: #9C27B0; /* Exemplo de cor */
}